@import './normalize.css';
* {
    font-family: 'Source Sans Pro', sans-serif;
}

#root {
    width: 100%;
    height: auto;
}

body {
    margin: 0;
}
.disabled{
    display: none;
}


/* main select page start*/

.select-top {
    width: 100%;
    height: auto;
    position: relative;
}

.select-top__header {
    font-family: 'Londrina Outline', cursive;
    text-transform: uppercase;
    font-size: 28px;
    padding: 20px;
}

.select-top__header:hover {
    cursor: pointer;
}
.select-top__picker{
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}
.picker {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.picker__up,
.picker__down {
    width: 25px;
    height: 20px;
    position: relative;
    border: none;
    background-color: inherit;
}

.picker__up {
    margin-bottom: 5px;
}

.arrow_up,
.arrow_down {
    position: absolute;
    width: 3px;
    height: 3px;
    content: '';
    border: solid black;
    border-width: 0 1px 1px 0;
    display: inline-block;
    padding: 5px;
}

.arrow_up {
    top: 8px;
    left: 6px;
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
}

.arrow_down {
    bottom: 8px;
    left: 6px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}

.rest {
    position: relative;
    width: 400px;
    height: auto;
    margin: 35vh auto auto;
    -webkit-box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.28);
    box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.28);
}


/* select restaurant li start */

.rest__select-bottom {
    /* display: none; */
    position: absolute;
    top: 60px;
    left: 20px;
}

.select-bottom {
    width: 300px;
    height: auto;
    background-color: white;
    border: 2px solid black;
}

.select-bottom ul {
    list-style: none;
    /* Remove default bullets */
    padding: 10px;
    margin: 0;
}

.select-bottom ul li {
    padding: 5px;
}

.select-bottom ul li::before {
    background-color: red;
    display: inline-block;
    width: 6px;
    height: 6px;
    content: '';
    margin: 2px 10px 2px 2px;
}

.select-bottom ul li:hover {
    background-color: lightgrey;
    cursor: pointer;
}

.select-bottom ul li:active,
.select-bottom ul li:active {
    transform: translateY(1px);
}


/* select restaurant li end */

.rest__select-button {
    /* display: none; */
    margin: 0 0 20px 20px;
}


/* select button start */

.select-button {
    padding: 4px 16px;
    font-size: 16px;
    font-weight: 600;
    position: relative;
    border: none;
    color: white;
    background-color: red;
    text-align: center;
    text-transform: uppercase;
}

.select-button span {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 4px 16px;
    box-sizing: border-box;
    opacity: 0;
    color: white;
    transition: 0.35s ease;
    text-transform: uppercase;
}

.select-button:active {
    transform: translateY(1px);
}

.select-button:before {
    content: "";
    left: 0;
    top: 0;
    position: absolute;
    width: 0;
    height: 100%;
    background-color: black;
    transition: 0.5s ease;
}

.select-button:hover:before {
    width: 100%;
}

.select-button:hover span {
    opacity: 1;
    cursor: pointer;
}



/* select button end */


/* main select page end*/


/*burger main page start*/

.burgers {
    display: flex;
}

.burgers__menu {
    flex: 0 0 50%;
    background-color: #f3f2f3;
}

.burgers__orders {
    flex: 0 0 calc(20% - 16px); /*minus left and right margin*/
    background-color: #f3f2f3;
    margin: 0 8px;
}

.burgers__editor {
    flex: 0 0 30%;
    background-color: #f3f2f3;
}

/*menu start*/

.menu-header {
    background: url(../img/main.jpg) center center no-repeat;
    background-size: cover;
    /* background-color: gray; */

    padding: 40px;
}

.header-rating {
    display: flex;
    max-width: 150px;
    text-transform: uppercase;
    border-radius: 30px;
    background-color: yellow;
    padding: 3px 10px;
    font-weight: 900;
    font-size: 16px;
    position: relative;
    margin-bottom: 36px;
}

.header-rating__stars {
    position: absolute;
    display: inline-block;
    right: 0;
    top: -1px;
    width: 100px;
    height: auto;
    color: white;
    font-size: 20px;
    font-weight: 700;
    text-shadow: 1px 1px 1px #000000;
}

.menu-header__line {
    display: inline-block;
    border-bottom: 1px solid #fff;
    content: '';
    width: 100%;
    margin-bottom: 26px;
}

.menu-header__slogan {
    color: #f5f5f5;
    font-size: 58px;
    text-shadow: 0px -2px 4px #fff, 0px -2px 10px #FF3, 0px -10px 20px         #F90, 0px -20px 40px #C33;
    margin: 0 0 25px 0;
}
.menu-header__descr{
    font-size: 34px;
    color: white;
    text-shadow: 1px 1px 1px #000000;
    margin: 0;
}
.menu-header__descr span{
    color: red;
}

/*menu end*/


/*burger main page end*/
/*order page start*/
.orders__tittle{
    font-weight: 600;
    font-size: 32px;
    text-align: center;
    margin: 20px 8px;
}
.orders__list-cont{
    padding: 14px;
}
.orders__list-item{
    border-bottom: 1px solid black;
    margin-bottom: 8px;
    display: flex;
    justify-content: space-between;
}
.orders__list-noitem{
    margin-bottom: 12px;
}
.orders__del-descr{
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 12px;
}
.orders__total-cont{
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    padding: 8px;
}
.orders__list-cont{
    list-style: none;
}
.orders__list-button{
    height: 22px;
    min-width: 22px;
    padding: 0;
    font-size: 16px;
    font-weight: 600;
}
.orders__list-button span{
    padding: 0;
}
/*order page end*/
/*menuadmin start*/
.editor__tittle{
    font-weight: 600;
    font-size: 32px;
    text-align: center;
    margin: 20px 8px;
}
.editor__form{
    margin: 0 14px 14px;
}
/* .editor__form :last-child{
} */
.editor__button{
    margin: 14px 14px 30px 14px;
}
/*menuadmin end*/
/*404 page start*/
.notfound{
    padding: 20px;
    width: 100%;
}
.notfound h2{
    text-align: center;
    font-size: 38px;
    font-weight: 900;
}
.orders__list-outofstock{
    display: block;
    background-color: #FFD4D5;
    padding-top: 8px;
}
.orders__outofstock-warning{
    margin: 0;
    padding-bottom: 8px;
    padding-left: 8px;
}
.orders__list-outofstock>.orders__list-info{
    text-decoration: line-through;
}
/*404 page end*/

/*form start*/

.editor-form{
    border: 2px solid black;
    display: flex;
    flex-direction: column;
}
.editor-form button{
    padding: 8px 16px;
}
.editor-form button span{
    padding: 8px 16px;
}
.editor-form input,
.editor-form select,
.editor-form textarea{
    box-sizing: border-box;
    border: 1px solid black;
    border-radius: 0px;
    padding: 8px 16px;
    outline: none;
    background-color: white;
}
.editor-form__main{
    display: flex;

}
.editor-form__main input{
    flex: 0 0 50%;

}
/*form end*/
/*burger item start*/
.burger{
    margin-bottom: 8px;
}
.burgers__list{
    list-style-type: none;
    margin: 0;
    padding: 14px;
}
.burger__container{
    position: relative;
    padding: 14px;
    background-color: white;
    display: flex;
}
.burger__pic-cont{
    width: 160px;
    height: 160px;
}
.burger__pic-cont img{
    display: block;
    width: 160px;
    height: 160px;
    object-fit: cover;
}
.descr-cont{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.descr-cont__title-cont{
    display: flex;
    justify-content: space-between;
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 10px;
}
.burger__descr-cont{
    width: 100%;
    margin-left: 14px;
}
.descr-cont__button-cont{
    text-align: right;
}
.descr-cont__descr{
    margin-bottom: 8px;
}
.descr-cont__banner{
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(-30deg);
    position: absolute;
    font-size: 32px;
    color: red;
    border: 1px solid red;
    padding: 8px 35px;
    background-color: white;
}
/*burger item end*/

/*media*/
@media (max-width: 1024px) {
    .burgers {
        flex-direction: column;
    }
    
    .burgers__menu {
        flex: 0 0 100%;
    }
    
    .burgers__orders {
        flex: 0 0 100%;
        margin: 8px 0;
    }
    
    .burgers__editor {
        flex: 0 0 100%;
    }
}
@media (max-width: 740px) {
    .burger__container{
        padding: 8px;
    }
    .burgers__list{
        padding: 8px;
    }
    .burger__pic-cont{
        width: 100px;
        height: 100px;
    }
    .burger__pic-cont img{
        display: block;
        width: 100px;
        height: 100px;
    }
    .descr-cont__title-cont{
        font-size: 18px;
        font-weight: 600;
        margin-bottom: 5px;
    }
    .descr-cont__banner{
        transform: translate(-50%, -50%) rotate(-15deg);
        font-size: 26px;
        padding: 6px 25px;
    }
}
@media (max-width: 440px) {
    .editor-form__main{
        flex-direction: column;
    
    }
    .editor-form__main input{
        flex: 0 0 100%;
    
    }
}